
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478872254028'); /* IE9*/
  src: url('iconfont.eot?t=1478872254028#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478872254028') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478872254028') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478872254028#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-index:before { content: "\e61b"; }

.icon-setting:before { content: "\e651"; }

.icon-back:before { content: "\e604"; }

.icon-share:before { content: "\e627"; }

.icon-msg:before { content: "\e64c"; }

.icon-about:before { content: "\e6ce"; }

.icon-user:before { content: "\e603"; }

.icon-ask:before { content: "\e605"; }

.icon-job:before { content: "\e645"; }

.icon-good:before { content: "\e612"; }

.icon-edit:before { content: "\e60f"; }

.icon-arrow-right:before { content: "\e6cf"; }

