
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472562232'); /* IE9*/
  src: url('iconfont.eot?t=1472562232#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472562232') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472562232') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472562232#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-huifu:before { content: "\e60e"; }
.icon-jiantouright:before { content: "\e609"; }
.icon-tuichu:before { content: "\e60d"; }
.icon-fenxiang:before { content: "\e601"; }
.icon-guanyu:before { content: "\e60a"; }
.icon-zhaopin:before { content: "\e605"; }
.icon-caidan:before { content: "\e606"; }
.icon-qudenglu:before { content: "\e60c"; }
.icon-good:before { content: "\e607"; }
.icon-xiaoxi:before { content: "\e60b"; }
.icon-wenda:before { content: "\e608"; }
.icon-dianzan:before { content: "\e60f"; }
.icon-zhiding:before { content: "\e602"; }
.icon-jinghua:before { content: "\e603"; }
.icon-pinglun:before { content: "\e600"; }
.icon-chakan:before { content: "\e604"; }
