@import "./config";
html, body, ul, li, img {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

a, .markdown-body a {
    text-decoration: none;
    color: @mainATagClolor;
}

body {
    font-size: 100%;
    font-family: Helvetica, STHeiti, Droid Sans Fallback;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #676767;
    background: @shallow;
}

html, body, #main {
    width: 100%;
    height: 100%;
}

[v-cloak] {
    display: none;
}


/*
    侧边栏
*/

.app {
    overflow: hidden;
    @w: 240px;
    .wrap {
        overflow: hidden;
        padding-top: 50px;
        background: @shallow;
        & > * {
            transform: translateX(0);
            transition: transform 0.2s ease-out;
        }
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 50px;
        margin-bottom: 5px;
        line-height: 50px;
        box-shadow: 0 0 5px darken(@shallow, 30%);
        background: @shallow;
        .icon {
            width: 40px;
        }
        .title {
            text-align: center;
        }
    }
    .side-bar {
        box-sizing: border-box;
        position: fixed;
        top: -200px;
        left: -@w;
        bottom: -200px;
        z-index: 999;
        width: @w;
        padding: 200px 0;
        border-right: 1px solid darken(@shallow, 5%);
        background: #fff;
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }
    .side-bar-close {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: @w;
        bottom: 0;
        z-index: 999;
        background: transparent;
    }
    &-side-bar-show {
        overflow: hidden;
        .wrap {
            &>* {
                transform: translateX(@w);
            }
        }
        .side-bar {
            transform: translateX(@w);
        }
        .side-bar-close {
            display: block;
        }
    }
}