       html {
            background: #333;
        }
        
        .app-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999;
            max-width: 640px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            background: #80bd01;
        }
        
        .app-loading-hide {
            left: 120%;
            bottom: 120%;
            opacity: 0;
        }
        
        .app-loading .box {
            width: 400px;
            height: 300px;
            text-align: center;
            color: #fff;
        }
        
        @keyframes line-spin-fade-loader {
            50% {
                opacity: 0.3;
            }
            100% {
                opacity: 1;
            }
        }
        
        .app-loading .line-spin-fade-loader {
            position: relative;
            width: 0;
            margin: 0 auto;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(1) {
            top: 20px;
            left: 0;
            animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(2) {
            top: 13.63636px;
            left: 13.63636px;
            transform: rotate(-45deg);
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(3) {
            top: 0;
            left: 20px;
            transform: rotate(90deg);
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(4) {
            top: -13.63636px;
            left: 13.63636px;
            transform: rotate(45deg);
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(5) {
            top: -20px;
            left: 0;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(6) {
            top: -13.63636px;
            left: -13.63636px;
            transform: rotate(-45deg);
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(7) {
            top: 0;
            left: -20px;
            transform: rotate(90deg);
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div:nth-child(8) {
            top: 13.63636px;
            left: -13.63636px;
            transform: rotate(45deg);
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
        }
        
        .app-loading .line-spin-fade-loader > div {
            background-color: #fff;
            width: 4px;
            height: 35px;
            border-radius: 2px;
            margin: 2px;
            animation-fill-mode: both;
            position: absolute;
            width: 5px;
            height: 15px;
        }
        
        .app-loading h2 {
            margin-top: 50px;
            line-height: 70px;
            font-size: 40px;
        }


.common-toast {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11000;
    width: auto;
    padding: 0 8px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.common-toast-show {
    animation: commonToastShow ease 300ms;
}

.common-toast-hide {
    animation: commonToastHide ease 500ms;
}

@keyframes commonToastShow {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes commonToastHide {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}